@page "/"

<PageTitle>Home</PageTitle>

<h1>InfoFile Tracker</h1>
<p>Use the Navigation menu on the side to select what You'd like to do. </p>

This project is meant to be a simple place to track informational files on various things, like a simplified Wiki.
