@page "/SearchFiles"
@rendermode InteractiveServer

<h3>File Interaction</h3>

@*some Slight text describing the file? maybe?  *@
@*do I have separate pages gor the different seearches?? figure out later, pages can be copied/duplicated w/ slight changes*@

@code {

}
