@page "/SearchFiles"
@rendermode InteractiveServer
@using System.Linq
@using System
@using System.IO
@using _1260FinalProj.Models
@using static _1260FinalProj.Logic.Searching
@inject IWebHostEnvironment Env


<h2>File Search</h2>

<form>
    <input @bind="searchName" placeholder="Enter file name..." />
    <button type="button" @onclick="FilterName">Search</button>
</form>
@* Textarea to display file content*@


<form>
    <input @bind="searchID" placeholder="Enter file ID number..." />
    <button type="button" @onclick="FilterID">Search</button>
</form>

<form>
    <input @bind="searchCategory" placeholder="Enter file Category..." />
    <button type="button" @onclick="FilterCategory">Search</button>
</form>

@if (!string.IsNullOrEmpty(selectedFileContent))
{
    <div>
        <label>Result:</label>
        <textarea readonly style="width:100%;height:300px">@selectedFileContent</textarea>
    </div>
}

@*I need:
    A text box to put in the search term, be that whatever is getting searched
    A place to load or select the returned items(?)
    and a place to display the information, if not just load the full .txt file into the web page (maybe a large, read-only text area?)
*@

@code {

    private List<IBrowserFile> allFiles = new();
    private List<IBrowserFile> filteredFiles = new();
    private int searchID = 0;
    private string searchName = string.Empty;
    private string searchCategory = string.Empty;
    private string selectedFileContent = string.Empty;

    

    private void FilterName()
    {
        var entitiesDir = Path.Combine(Env.WebRootPath ?? Env.ContentRootPath, "Entities");
        Directory.CreateDirectory(entitiesDir);
        
    }

    private void FilterID()
    {
        var entitiesDir = Path.Combine(Env.WebRootPath ?? Env.ContentRootPath, "Entities");
        Directory.CreateDirectory(entitiesDir);
        SearchByID(searchID, entitiesDir);

    }

    private void FilterCategory()
    {
        var entitiesDir = Path.Combine(Env.WebRootPath ?? Env.ContentRootPath, "Entities");
        Directory.CreateDirectory(entitiesDir);

    }
}
