@page "/SearchFiles"
@rendermode InteractiveServer

<h3>File Search</h3>


@**@

@code {
    private List<IBrowserFile> allFiles = new();
    private List<IBrowserFile> filteredFiles = new();
    private string searchTerm = string.Empty;


}
