@page "/Totals"
@rendermode InteractiveServer
@using System.Linq
@using _1260FinalProj.Logic
@using _1260FinalProj.Models
@using _1260FinalProj.Services
@inject IWebHostEnvironment Env
@inject SingletonSearchService singletonSearchService
@attribute [StreamRendering]

<h3>Totals</h3>

<span>@(CategoryCounts?.Count ?? 0)</span>

<table class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th aria-label="Number of Entities ">Num. Entities</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kvp in CategoryCounts ?? Enumerable.Empty<KeyValuePair<string,int>>())
        {
            <tr>
                <td>@kvp.Key</td>
                <td>@kvp.Value</td>
            </tr>
        }
    </tbody>

</table>

@code {
    private Dictionary<string, int>? CategoryCounts { get; set; } = new Dictionary<string, int>();

    protected override async Task OnInitializedAsync()
    {
        //Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        var entitiesDir = Path.Combine(Env.WebRootPath ?? Env.ContentRootPath, "Entities");
        Directory.CreateDirectory(entitiesDir);

        CategoryCounts = singletonSearchService.FindTotals(entitiesDir);
        StateHasChanged();
    }
}
